# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables

*.out
*.app
*.code-workspace
bin/static/private/
dist/
node_modules/
src/websvr/static/uploadFiles/
src/websvr/static/bulesystem/
bin/static/dsrdiffusion/rtaskres/
bin/static/rtUploadFiles/
bin/static/uploadFiles/
src/dsrdiffusion/model/private/
*.exe~